<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataArray</key>
	<array>
		<dict>
			<key>img</key>
			<string>yxl_shop_clothes</string>
			<key>title</key>
			<string>服饰</string>
		</dict>
		<dict>
			<key>img</key>
			<string>yxl_shop_food</string>
			<key>title</key>
			<string>食为天</string>
		</dict>
		<dict>
			<key>img</key>
			<string>yxl_shop_wine</string>
			<key>title</key>
			<string>烟酒</string>
		</dict>
		<dict>
			<key>img</key>
			<string>yxl_shop_electrical</string>
			<key>title</key>
			<string>数码电器</string>
		</dict>
		<dict>
			<key>img</key>
			<string>yxl_shop_beauty</string>
			<key>title</key>
			<string>美容养生</string>
		</dict>
		<dict>
			<key>img</key>
			<string>yxl_shop_amusement</string>
			<key>title</key>
			<string>娱乐</string>
		</dict>
		<dict>
			<key>img</key>
			<string>yxl_shop_building</string>
			<key>title</key>
			<string>楼盘</string>
		</dict>
		<dict>
			<key>img</key>
			<string>yxl_shop_life</string>
			<key>title</key>
			<string>日用精品</string>
		</dict>
		<dict>
			<key>img</key>
			<string>yxl_shop_tea</string>
			<key>title</key>
			<string>茶文化</string>
		</dict>
		<dict>
			<key>img</key>
			<string>yxl_shop_ornament</string>
			<key>title</key>
			<string>装饰城</string>
		</dict>
	</array>
</dict>
</plist>
