<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataArray</key>
	<array>
		<dict>
			<key>first</key>
			<array>
				<dict>
					<key>img</key>
					<string>yxl_home_vip</string>
					<key>text</key>
					<string>会员升级</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_home_pyramid</string>
					<key>text</key>
					<string>我的下线</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_home_recharge</string>
					<key>text</key>
					<string>帐户充值</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_home_withdraw</string>
					<key>text</key>
					<string>帐户提现</string>
				</dict>
			</array>
			<key>second</key>
			<array>
				<dict>
					<key>img</key>
					<string>yxl_home_points</string>
					<key>text</key>
					<string>分发积分</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_home_stock</string>
					<key>text</key>
					<string>购买库存</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_home_convert</string>
					<key>text</key>
					<string>币盾兑换</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_home_join</string>
					<key>text</key>
					<string>加盟我们</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>数据统计</string>
			<key>img</key>
			<string>yxl_home_statistics</string>
		</dict>
		<dict>
			<key>title</key>
			<string>最新公告</string>
			<key>img</key>
			<string>yxl_home_notice</string>
		</dict>
	</array>
</dict>
</plist>
