<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataArray</key>
	<array>
		<dict>
			<key>title</key>
			<string>我的订单</string>
			<key>data</key>
			<array>
				<dict>
					<key>img</key>
					<string>yxl_mine_pendingPay</string>
					<key>text</key>
					<string>待付款</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_mine_pendingDispatch</string>
					<key>text</key>
					<string>待发货</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_mine_pendingConsignment</string>
					<key>text</key>
					<string>待收货</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_mine_history</string>
					<key>text</key>
					<string>历史订单</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>财富中心</string>
			<key>data</key>
			<array>
				<dict>
					<key>img</key>
					<string>yxl_mine_capital</string>
					<key>text</key>
					<string>帐户资金</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_mine_silver</string>
					<key>text</key>
					<string>银积分</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_mine_gold</string>
					<key>text</key>
					<string>金积分</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_mine_convert</string>
					<key>text</key>
					<string>金盾兑换</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>我的推荐关系</string>
			<key>data</key>
			<array>
				<dict>
					<key>img</key>
					<string>yxl_mine_first</string>
					<key>text</key>
					<string>我的一级</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_mine_second</string>
					<key>text</key>
					<string>我的二级</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_mine_third</string>
					<key>text</key>
					<string>我的三级</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>系统管理</string>
			<key>data</key>
			<array>
				<dict>
					<key>img</key>
					<string>yxl_mine_setting</string>
					<key>text</key>
					<string>系统设置</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_mine_bankcard</string>
					<key>text</key>
					<string>银行卡</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_mine_collection</string>
					<key>text</key>
					<string>我的收藏</string>
				</dict>
				<dict>
					<key>img</key>
					<string>yxl_mine_QRCode</string>
					<key>text</key>
					<string>二维码</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
